@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --color-1: #85c1e9;
  --color-2: #3498db;
  --color-3: #21618c;
  --color-4: #1c2833;
  --color-5: white;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Pacifico', cursive;
  background-color: var(--color-2);
  color: var(--color-5);
  padding-left: 2%;
  position: fixed;
  top: 0;
  left: 0
  right: 0;
  z-index: 3;
  width: 100%;
}

nav {
  font-family: 'Teko', sans-serif;
  background-color: var(--color-3);
  position: fixed;
  width: 10%;
  height: 100%;
  padding-top: 3%;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav a {
  color: var(--color-5);
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}

nav a:hover {
  background-color: var(--color-4);
}

nav a, nav a:hover {
  transition: background-color .5s;
}

footer {
  font-family: 'Teko', sans-serif;
  width: 100%;
  background-color: var(--color-2);
  color: var(--color-5);
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 1;
}

main {
  position: absolute;
  left: 10%;
  background-color: white;
  padding-top: 2%;
  z-index: 0;
  font-family: 'Nunito', sans-serif;
}

/* Form */
form {
	margin:10px auto;
	max-width: 100%;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
form input[type=text],
form input[type=date],
form input[type=datetime],
form input[type=number],
form input[type=search],
form input[type=time],
form input[type=url],
form input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid var(--color-3);
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=datetime]:focus,
form input[type=number]:focus,
form input[type=search]:focus,
form input[type=time]:focus,
form input[type=url]:focus,
form input[type=email]:focus,
form textarea:focus,
form select:focus{
	-moz-box-shadow: 0 0 8px var(--color-1);
	-webkit-box-shadow: 0 0 8px var(--color-1);
	box-shadow: 0 0 8px var(--color-1);
	border: 1px solid var(--color-1);
}

form .field-long{
	width: 100%;
}
form .field-select{
	width: 100%;
}
form .field-textarea{
	height: 100px;
}
form input[type=submit], form input[type=button]{
	background: var(--color-1);
	padding: 8px 15px 8px 15px;
	border: none;
	color: white;
}
form input[type=submit]:hover, form input[type=button]:hover{
	background: var(--color-2);
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
  cursor: pointer;
}

form input[type=submit], form input[type=button], form input[type=submit]:hover, form input[type=button]:hover{
  transition: background-color .5s;
}

form .required{
	color:red;
}
